.header{
  height: 110px;
  width: 100vw;
  background-color: rgb(12, 13, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-family: "Tenor Sans";
  font-size: 1rem;
  position: fixed;
  top: 0px;
  z-index: 1000;
  nav{
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    z-index: 1002;
    menu{
      display: flex;
      justify-content: center;
      align-items: center;
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
          list-style-type: none;
          white-space: nowrap;
          text-align: center;
          padding: 10px 20px;
          a{
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.logocontainer{
  padding: 0 40px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.langbutton {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 5.84px;
  margin-left: 13px;
}

.hamburgercontainer{
  display: none;
}

.fullscreenmenu{
  height: 100vh;
  width: 100vw;
  background-color: rgb(12, 13, 56);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
  ul{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    line-height: 3rem;
    li{
      list-style-type: none;
      white-space: nowrap;
      padding: 10px 20px;
      a{
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 1280px) {
  .header{
    nav{
      width: 100%;
      menu{
      justify-content: space-between;
        ul{
          display: none;
        }
      }
    }
  }

  .hamburgercontainer{
    display: block;
    padding: 0 40px;
  }
}
