.linkButtons{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 20px;
  margin-left: 20px;
  font-family: "Tenor Sans";
  text-transform: uppercase;
}

@media (max-width: 968px){
  .linkButtons{
    display: none;
  }
}